<div class="container mt-5">
    <h4 class="mb-3">Feedback Log</h4>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Feedback</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10:45 AM</td>
          <td>Good infobot!</td>
        </tr>
        <tr>
          <td>11:02 AM</td>
          <td>Best developers</td>
        </tr>
        <tr>
          <td>11:30 AM</td>
          <td>not a good UI, but responsive!</td>
        </tr>
      </tbody>
    </table>
  </div>